* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e2dffe;
	font-family: monospace;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 16px;
	width: 50%;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.profile-picture {
	max-width: 100px;
	height: auto;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

.content {
	filter: blur(0);
	margin-top: 75px;
	text-align: center;
}

.content .full-name {
	font-size: 14px;
}
.content .job-title, .current-time{
	padding-top: 5px;
}
.content .short-bio {
	padding: 15px 0;
}

.socials {
	padding-top: 15px;
}
i {
	color: black;
}

@media (max-width: 720px) {
	.container {
		width: 80%;
	}
}